#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

include /usr/share/dpkg/default.mk
export DEB_DISTRIBUTION
export DEB_SOURCE
export DEB_VERSION
export DEB_VERSION_EPOCH_UPSTREAM
export DEB_VERSION_UPSTREAM
export DEB_VERSION_UPSTREAM_REVISION


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	env | sort
	dh $@ -v --parallel

override_dh_clean:
	@echo noop $@

override_dh_auto_clean:
	@echo noop $@

# rm -rf debian/*tmp debian/files
# mv debian/ debian.backup # debian/ might be cleaned away
# $(MAKE) clean
# mv debian.backup debian

override_dh_test:
	@echo noop $@

override_dh_build:
	$(MAKE)

# override_dh_install:
# 	@echo noop $@

override_dh_auto_install:
	dh_auto_install -- \
		INSTALL_PATH=debian/linux-image-$(DEB_VERSION_UPSTREAM)/boot

# override_dh_builddeb:
# 	$(MAKE) \
# 		KDEB_SOURCENAME=$(DEB_SOURCE) \
# 		KDEB_PKGVERSION=$(DEB_VERSION) \
# 		bindeb-pkg
